<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuji.contentcore.mapper.CmsSiteMapper">
    
    <resultMap type="CmsSite" id="CmsSiteResult">
        <result property="siteId"           column="site_id"            />
        <result property="parentId"         column="parent_id"          />
        <result property="name"             column="name"               />
        <result property="description"      column="description"        />
        <result property="logo"             column="logo"               />
        <result property="path"             column="path"               />
        <result property="resourceUrl"      column="resource_url"       />
        <result property="catalogMaxCode"   column="catalog_max_code"   />
        <result property="deptCode"         column="dept_code"          />
        <result property="indexTemplate"    column="index_template"     />
        <result property="staticSuffix"     column="static_suffix"      />
        <result property="sortFlag"         column="sort_flag"          />
        <result property="publishPipeProps" column="publish_pipe_props" typeHandler="com.yuji.contentcore.utils.JsonTypeHandler"/>
        <result property="configProps"      column="config_props"       typeHandler="com.yuji.contentcore.utils.JsonTypeHandler"/>
        <result property="seoKeywords"      column="seo_keywords"       />
        <result property="seoDescription"   column="seo_description"    />
        <result property="seoTitle"         column="seo_title"          />
        <result property="createBy"         column="create_by"          />
        <result property="createTime"       column="create_time"        />
        <result property="updateBy"         column="update_by"          />
        <result property="updateTime"       column="update_time"        />
        <result property="remark"           column="remark"             />
    </resultMap>

    <sql id="selectCmsSiteVo">
        select site_id, parent_id, name, description, logo, path, resource_url, catalog_max_code, dept_code, index_template, static_suffix, sort_flag, publish_pipe_props, config_props, seo_keywords, seo_description, seo_title, create_by, create_time, update_by, update_time, remark from cms_site
    </sql>

    <select id="selectCmsSiteList" parameterType="CmsSite" resultMap="CmsSiteResult">
        <include refid="selectCmsSiteVo"/>
        <where>  
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="logo != null  and logo != ''"> and logo = #{logo}</if>
            <if test="path != null  and path != ''"> and path = #{path}</if>
            <if test="resourceUrl != null  and resourceUrl != ''"> and resource_url = #{resourceUrl}</if>
            <if test="catalogMaxCode != null "> and catalog_max_code = #{catalogMaxCode}</if>
            <if test="deptCode != null  and deptCode != ''"> and dept_code = #{deptCode}</if>
            <if test="indexTemplate != null  and indexTemplate != ''"> and index_template = #{indexTemplate}</if>
            <if test="staticSuffix != null  and staticSuffix != ''"> and static_suffix = #{staticSuffix}</if>
            <if test="sortFlag != null "> and sort_flag = #{sortFlag}</if>
            <if test="publishPipeProps != null  and publishPipeProps != ''"> and publish_pipe_props = #{publishPipeProps}</if>
            <if test="configProps != null  and configProps != ''"> and config_props = #{configProps}</if>
            <if test="seoKeywords != null  and seoKeywords != ''"> and seo_keywords = #{seoKeywords}</if>
            <if test="seoDescription != null  and seoDescription != ''"> and seo_description = #{seoDescription}</if>
            <if test="seoTitle != null  and seoTitle != ''"> and seo_title = #{seoTitle}</if>
        </where>
    </select>
    
    <select id="selectCmsSiteBySiteId" parameterType="Long" resultMap="CmsSiteResult">
        <include refid="selectCmsSiteVo"/>
        where site_id = #{siteId}
    </select>
        
    <insert id="insertCmsSite" parameterType="CmsSite">
        insert into cms_site
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="siteId != null">site_id,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="description != null">description,</if>
            <if test="logo != null">logo,</if>
            <if test="path != null and path != ''">path,</if>
            <if test="resourceUrl != null">resource_url,</if>
            <if test="catalogMaxCode != null">catalog_max_code,</if>
            <if test="deptCode != null">dept_code,</if>
            <if test="indexTemplate != null">index_template,</if>
            <if test="staticSuffix != null">static_suffix,</if>
            <if test="sortFlag != null">sort_flag,</if>
            <if test="publishPipeProps != null">publish_pipe_props,</if>
            <if test="configProps != null">config_props,</if>
            <if test="seoKeywords != null">seo_keywords,</if>
            <if test="seoDescription != null">seo_description,</if>
            <if test="seoTitle != null">seo_title,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="siteId != null">#{siteId},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="description != null">#{description},</if>
            <if test="logo != null">#{logo},</if>
            <if test="path != null and path != ''">#{path},</if>
            <if test="resourceUrl != null">#{resourceUrl},</if>
            <if test="catalogMaxCode != null">#{catalogMaxCode},</if>
            <if test="deptCode != null">#{deptCode},</if>
            <if test="indexTemplate != null">#{indexTemplate},</if>
            <if test="staticSuffix != null">#{staticSuffix},</if>
            <if test="sortFlag != null">#{sortFlag},</if>
            <if test="publishPipeProps != null">#{publishPipeProps},</if>
            <if test="configProps != null">#{configProps},</if>
            <if test="seoKeywords != null">#{seoKeywords},</if>
            <if test="seoDescription != null">#{seoDescription},</if>
            <if test="seoTitle != null">#{seoTitle},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateCmsSite" parameterType="CmsSite">
        update cms_site
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="description != null">description = #{description},</if>
            <if test="logo != null">logo = #{logo},</if>
            <if test="path != null and path != ''">path = #{path},</if>
            <if test="resourceUrl != null">resource_url = #{resourceUrl},</if>
            <if test="catalogMaxCode != null">catalog_max_code = #{catalogMaxCode},</if>
            <if test="deptCode != null">dept_code = #{deptCode},</if>
            <if test="indexTemplate != null">index_template = #{indexTemplate},</if>
            <if test="staticSuffix != null">static_suffix = #{staticSuffix},</if>
            <if test="sortFlag != null">sort_flag = #{sortFlag},</if>
            <if test="publishPipeProps != null">publish_pipe_props = #{publishPipeProps},</if>
            <if test="configProps != null">config_props = #{configProps},</if>
            <if test="seoKeywords != null">seo_keywords = #{seoKeywords},</if>
            <if test="seoDescription != null">seo_description = #{seoDescription},</if>
            <if test="seoTitle != null">seo_title = #{seoTitle},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where site_id = #{siteId}
    </update>

    <delete id="deleteCmsSiteBySiteId" parameterType="Long">
        delete from cms_site where site_id = #{siteId}
    </delete>

    <delete id="deleteCmsSiteBySiteIds" parameterType="String">
        delete from cms_site where site_id in 
        <foreach item="siteId" collection="array" open="(" separator="," close=")">
            #{siteId}
        </foreach>
    </delete>
</mapper>